<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jonathon Polley</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <article></article>
    
    
    <footer>
    	<ul>
        	<li><a>About Us</a></li>        	
            <li><a>Contact</a></li>
            <li><a>FAQs</a></li>  
        </ul>    
        <ul>          	
            <li><a>Home</a></li>
            <li><a>Jobs</a></li>        	
            <li><a>Sign In</a></li>
        </ul>
        
        
    	<img src="image/searchbar.png"/> 
    
    </footer>
    
    <footer> 
   	  <p>JSP &copy; Friday, November 6, 2015</p>
	</footer>

<!-- End Component -->
	
</body>
</html>