<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Jonathon Polley</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    
    <header>
		
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a>
					<ul>
						<li><a href="#">Products 1</a></li>
						<li><a href="#">Products 2	</a></li>
						<li><a href="#">Products 3</a>
							<ul>
								<li><a href="#">Products 3.5</a></li>
								<li><a href="#">Products 3.5</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">About</a>
					<ul>
						<li><a href="#">About Me</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

	</header>

	<!-- End Component -->
	
</body>
</html>